@import url('./fontes.css');
@import url('./header.css');
@import url('./banner.css');
@import url('./portifolio.css');
@import url('./about.css');
@import url('./contact.css');
@import url('./footer.css');

*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}